

@media (max-width: 600px) {
    /* section, */
    section { 
        width: calc(100% - 3rem); 
        margin: 0 auto;
        padding: 1rem;
    }

    section h2 { 
        margin-bottom: 1rem;
    }

    section#pages { 
        padding: 1rem;
    }

    
    #mainContent>div { 
        /* font-size: .9rem; */
        font-size: 14px;
        line-height: 1.5rem;
    }
    table { 
        /* font-size: .9rem; */
        font-size: 14px;

    }

    div.article-nav a { 
        font-size: .9rem;
    }

    td, th {
        padding: .6rem;
    }

}

