

@media (max-width: 600px) {



    /* section, */
    section { 
        width: calc(100% - 3rem); 
        margin: 0 auto;
        padding: 1rem 1.5rem;
    }

    section h2 { 
        margin-bottom: 1rem;
    }

    section#pages { 
        padding: 1rem 1.5rem;
        overflow: auto; 
        white-space: inherit;
    }

    section#pages .separator, 
    section#pages span.menu { 
        display: none;
    }
 

    section#pages #pagesSubmenu { 
        margin-top: .5rem;
        padding-top: .5rem;
        border-top: 1px solid white;
        animation: fadeInAnimation ease 1s;
    }


    
    #mainContent>div { 
        font-size: 14px;
        line-height: 1.5rem;
    }
    table { 
        font-size: 14px;

    }

    div.article-nav a { 
        font-size: .9rem;
    }

    td, th {
        padding: .6rem;
    }


    .hamburger { 
        display: inline-block;
    }


}

