
body {
    /* margin: auto; */
    background: #5f3a25;
    /* background-image: linear-gradient(to right, #847a74, #5f3a25, #3c2215); */
}

section { 
    width: calc(95% - 6rem); 
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    background: white;
    padding: 1rem 3rem;
}

section#pages { 
    background: #fff4c9; 
    padding: 1rem 3rem;
    overflow: auto;
    white-space: nowrap;
}
section#pages::-webkit-scrollbar {
    display: none;
}

section#pages a,
section#pages span { 
    display: inline-block;
    margin: 0;
    padding: 0; 
    padding-right: .8rem;
}


#pages>.active { 
    background: #ffb0004f;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}




section#heading { 
    background: none;
    width: 100%; 
    text-align: center;
    padding: 1rem 0;
}

section h1 { 
    margin: 0 0 10px;
}



section h2 { 
    margin-bottom: 1.5rem;
}

.green { 
    color: #75a566;
}


#mainContent>div{ 
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


p { 
    margin-bottom: 2rem;
}



table {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0;
}

td, th {
    text-align: left;
    padding: .8rem;
}

td { 
    border: solid black 1px;
}

table.stripe th { 
    border-bottom: solid black 2px;
}

table.stripe tr:nth-child(even) {
    background-color: #eee;
}

table.stripe td { 
    border: none;
}




a { 
    color: #aa6c43;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}


nav { 
    margin: 1rem;
}

.center { 
    text-align: center;
}

img { 
    width: 100%;
    max-width: fit-content;
}

span.caption { 
    text-align: left;
    display: block;
    margin: 1rem;
    margin-top: 0;
}


span.img-container { 
    display: inline-block;
}

span.img-container img:first-child { 
    margin-bottom: .5rem;
}

th.price { 
    width: 100px;
}



/* Hover */
span.showOnHover { 
    display: none;
}
.triggerHover:hover span.showOnHover { 
    display: inline-block;
    background: #888; 
    color: white;
    padding: .5rem;
    position: absolute;
    border-radius: 4px;
    font-size: smaller;
}
